In [1]:
import pandas as pd

In [2]:
file_one= "Resources/election_data.csv"

In [3]:
file_one_df=pd.read_csv(file_one)

In [5]:
file_one_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [7]:
vote_count = len(file_one_df["Candidate"])
vote_count

3521001

In [10]:
candidates = (file_one_df["Candidate"].unique())
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [13]:
file_one_df["Candidate"].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [15]:
df_2=file_one_df["Candidate"].value_counts()

In [16]:
df_2
#total number of votes each candidate won

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [37]:
#percent votes per candidate
##manually put because I tried using the loc function but was unsuccesful in picking out each value
KhanPercentage= (2218231/vote_count)*100
CorreyPercentage=(704200/vote_count)*100
LiPercentage=(492940/vote_count)*100
OTooleyPercentage= (105630/vote_count)*100
print(KhanPercentage)
print(CorreyPercentage)
print(LiPercentage)
print(OTooleyPercentage)

63.00001050837531
19.999994319797125
13.999996023857989
2.999999147969569

In [49]:
#winner counts
winner_count = file_one_df['Candidate'].value_counts()
int(KhanPercentage)
print('Winner is Khan with ' + (str(int(KhanPercentage)))+' percent of votes')

Winner is Khan with 63 percent of votes